iaas-common-lib/src/main/resources/MessagingSystemEndpointService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="MessagingSystemEndpointService" targetNamespace="http://iaas.ws.pahlsoft.com" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://iaas.ws.pahlsoft.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://iaas.ws.pahlsoft.com" xmlns:tns="http://iaas.ws.pahlsoft.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="IaasEvent">
    <xs:sequence>
      <xs:element name="eventId" type="xs:int"/>
      <xs:element name="eventDate" type="xs:string"/>
      <xs:element name="correlationId" type="xs:string"/>
      <xs:element name="eventInfo" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IaasError">
    <xs:sequence>
      <xs:element name="errorId" type="xs:int"/>
      <xs:element name="errorDate" type="xs:string"/>
      <xs:element name="correlationId" type="xs:string"/>
      <xs:element name="errorInfo" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType final="#all" name="IaasEventArray">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:IaasEvent"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType final="#all" name="IaasErrorArray">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:IaasError"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Exception" type="tns:Exception"/>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getEventsToday">
  </wsdl:message>
  <wsdl:message name="getErrorsLastWeekResponse">
    <wsdl:part name="errorsLastWeek" type="tns:IaasErrorArray">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEventsLastMonthResponse">
    <wsdl:part name="eventsLastMonth" type="tns:IaasEventArray">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertEventResponse">
    <wsdl:part name="return" type="xsd:int">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertError">
    <wsdl:part name="errorInfo" type="tns:IaasError">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getErrorsLastMonth">
  </wsdl:message>
  <wsdl:message name="getErrorsLastMonthResponse">
    <wsdl:part name="errorsLastMonth" type="tns:IaasErrorArray">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getErrorsYesterday">
  </wsdl:message>
  <wsdl:message name="getEventsLastMonth">
  </wsdl:message>
  <wsdl:message name="insertEvent">
    <wsdl:part name="eventInfo" type="tns:IaasEvent">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="init">
  </wsdl:message>
  <wsdl:message name="getErrorsYesterdayResponse">
    <wsdl:part name="errorsYesterday" type="tns:IaasErrorArray">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getErrorsLastWeek">
  </wsdl:message>
  <wsdl:message name="initResponse">
  </wsdl:message>
  <wsdl:message name="getEventsLastWeek">
  </wsdl:message>
  <wsdl:message name="Exception">
    <wsdl:part element="tns:Exception" name="Exception">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEventsTodayResponse">
    <wsdl:part name="eventsToday" type="tns:IaasEventArray">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getErrorsToday">
  </wsdl:message>
  <wsdl:message name="insertErrorResponse">
    <wsdl:part name="return" type="xsd:int">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEventsLastWeekResponse">
    <wsdl:part name="eventsLastWeek" type="tns:IaasEventArray">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getErrorsTodayResponse">
    <wsdl:part name="errorsToday" type="tns:IaasErrorArray">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEventsYesterday">
  </wsdl:message>
  <wsdl:message name="getEventsYesterdayResponse">
    <wsdl:part name="eventsYesterday" type="tns:IaasEventArray">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MessageSystemEndpoint">
    <wsdl:operation name="getEventsYesterday">
      <wsdl:input message="tns:getEventsYesterday" name="getEventsYesterday">
    </wsdl:input>
      <wsdl:output message="tns:getEventsYesterdayResponse" name="getEventsYesterdayResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="insertError">
      <wsdl:input message="tns:insertError" name="insertError">
    </wsdl:input>
      <wsdl:output message="tns:insertErrorResponse" name="insertErrorResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getErrorsLastMonth">
      <wsdl:input message="tns:getErrorsLastMonth" name="getErrorsLastMonth">
    </wsdl:input>
      <wsdl:output message="tns:getErrorsLastMonthResponse" name="getErrorsLastMonthResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="init">
      <wsdl:input message="tns:init" name="init">
    </wsdl:input>
      <wsdl:output message="tns:initResponse" name="initResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEventsToday">
      <wsdl:input message="tns:getEventsToday" name="getEventsToday">
    </wsdl:input>
      <wsdl:output message="tns:getEventsTodayResponse" name="getEventsTodayResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getErrorsLastWeek">
      <wsdl:input message="tns:getErrorsLastWeek" name="getErrorsLastWeek">
    </wsdl:input>
      <wsdl:output message="tns:getErrorsLastWeekResponse" name="getErrorsLastWeekResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getErrorsYesterday">
      <wsdl:input message="tns:getErrorsYesterday" name="getErrorsYesterday">
    </wsdl:input>
      <wsdl:output message="tns:getErrorsYesterdayResponse" name="getErrorsYesterdayResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="insertEvent">
      <wsdl:input message="tns:insertEvent" name="insertEvent">
    </wsdl:input>
      <wsdl:output message="tns:insertEventResponse" name="insertEventResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getErrorsToday">
      <wsdl:input message="tns:getErrorsToday" name="getErrorsToday">
    </wsdl:input>
      <wsdl:output message="tns:getErrorsTodayResponse" name="getErrorsTodayResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEventsLastMonth">
      <wsdl:input message="tns:getEventsLastMonth" name="getEventsLastMonth">
    </wsdl:input>
      <wsdl:output message="tns:getEventsLastMonthResponse" name="getEventsLastMonthResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEventsLastWeek">
      <wsdl:input message="tns:getEventsLastWeek" name="getEventsLastWeek">
    </wsdl:input>
      <wsdl:output message="tns:getEventsLastWeekResponse" name="getEventsLastWeekResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MessagingSystemEndpointServiceSoapBinding" type="tns:MessageSystemEndpoint">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getEventsYesterday">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="getEventsYesterday">
        <soap:body namespace="http://iaas.ws.pahlsoft.com" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getEventsYesterdayResponse">
        <soap:body namespace="http://iaas.ws.pahlsoft.com" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="insertError">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="insertError">
        <soap:body namespace="http://iaas.ws.pahlsoft.com" use="literal"/>
      </wsdl:input>
      <wsdl:output name="insertErrorResponse">
        <soap:body namespace="http://iaas.ws.pahlsoft.com" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getErrorsLastMonth">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="getErrorsLastMonth">
        <soap:body namespace="http://iaas.ws.pahlsoft.com" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getErrorsLastMonthResponse">
        <soap:body namespace="http://iaas.ws.pahlsoft.com" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="init">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="init">
        <soap:body namespace="http://iaas.ws.pahlsoft.com" use="literal"/>
      </wsdl:input>
      <wsdl:output name="initResponse">
        <soap:body namespace="http://iaas.ws.pahlsoft.com" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEventsToday">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="getEventsToday">
        <soap:body namespace="http://iaas.ws.pahlsoft.com" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getEventsTodayResponse">
        <soap:body namespace="http://iaas.ws.pahlsoft.com" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getErrorsLastWeek">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="getErrorsLastWeek">
        <soap:body namespace="http://iaas.ws.pahlsoft.com" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getErrorsLastWeekResponse">
        <soap:body namespace="http://iaas.ws.pahlsoft.com" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getErrorsYesterday">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="getErrorsYesterday">
        <soap:body namespace="http://iaas.ws.pahlsoft.com" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getErrorsYesterdayResponse">
        <soap:body namespace="http://iaas.ws.pahlsoft.com" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="insertEvent">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="insertEvent">
        <soap:body namespace="http://iaas.ws.pahlsoft.com" use="literal"/>
      </wsdl:input>
      <wsdl:output name="insertEventResponse">
        <soap:body namespace="http://iaas.ws.pahlsoft.com" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getErrorsToday">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="getErrorsToday">
        <soap:body namespace="http://iaas.ws.pahlsoft.com" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getErrorsTodayResponse">
        <soap:body namespace="http://iaas.ws.pahlsoft.com" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEventsLastMonth">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="getEventsLastMonth">
        <soap:body namespace="http://iaas.ws.pahlsoft.com" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getEventsLastMonthResponse">
        <soap:body namespace="http://iaas.ws.pahlsoft.com" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEventsLastWeek">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="getEventsLastWeek">
        <soap:body namespace="http://iaas.ws.pahlsoft.com" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getEventsLastWeekResponse">
        <soap:body namespace="http://iaas.ws.pahlsoft.com" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MessagingSystemEndpointService">
    <wsdl:port binding="tns:MessagingSystemEndpointServiceSoapBinding" name="MessageSystemEndpointPort">
      <soap:address location="http://localhost:8080/iaas-messaging-service/messaging"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>